#m-header { 
    color: red; 
    font-family: Impact; 
    text-align: center; 
  -webkit-text-stroke: 3px black;
}

#m-h2 {
  color: blue;
    -webkit-text-stroke: 3px red;
    text-align: center;
    font-family: Impact;
}
